.packer-loader--hide{
  opacity: 0;
  visibility: hidden;
}

.packer-loader--show{
  opacity: 1;
  visibility: visible;
}

.packer-loader {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  transition: .3s ease-in-out;
}

.packer-loader h1,
h2 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.packer-loader h1 {
  top: 200px;
  font-size: 12px;
}

.packer-loader h2 {
  width: 250px;
  text-align: center;
  top: 230px;
  font-size: 10px;
  opacity: 0.7;
}

.packer-loader div.loader {
  position: relative;
  top: 120px;
  left: 45%;
  padding: 3%;
  transform-style: preserve-3d;
  transform: translateX(-50%) rotateX(70deg) rotate(-45deg);
}

.packer-loader div.loader div.item {
  float: left;
  position: relative;
  width: 24px;
  height: 24px;
  background: #33cc33;
  transform-style: preserve-3d;
}

.packer-loader div.loader div.item div.lighter,
.packer-loader div.loader div.item div.darker {
  position: absolute;
  top: 0;
  width: 24px;
  height: 12px;
}

.packer-loader div.loader div.item div.lighter {
  background: #5cd65c;
  transform-origin: 50% 0%;
  transform: translateY(24px) rotateX(-90deg);
}

.packer-loader div.loader div.item div.darker {
  background: #29a329;
  transform-origin: 0% 0%;
  transform: rotate(90deg) rotateX(-90deg);
}

.packer-loader div.item-9 {
  animation: anim-move 1.4s ease-in-out infinite 0.1s;
}

.packer-loader div.item-9 div.lighter,
.packer-loader div.item-9 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.1s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-17 {
  animation: anim-move 1.4s ease-in-out infinite 0.2s;
}

.packer-loader div.item-17 div.lighter,
.packer-loader div.item-17 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.2s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-7 {
  animation: anim-move 1.4s ease-in-out infinite 0.3s;
}

.packer-loader div.item-7 div.lighter,
.packer-loader div.item-7 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.3s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-1 {
  animation: anim-move 1.4s ease-in-out infinite 0.4s;
}

.packer-loader div.item-1 div.lighter,
.packer-loader div.item-1 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.4s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-21 {
  animation: anim-move 1.4s ease-in-out infinite 0.5s;
}

.packer-loader div.item-21 div.lighter,
.packer-loader div.item-21 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.5s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-1 {
  animation: anim-move 1.4s ease-in-out infinite 0.6s;
}

div.item-1 div.lighter,
div.item-1 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.6s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-8 {
  animation: anim-move 1.4s ease-in-out infinite 0.7s;
}

div.item-8 div.lighter,
div.item-8 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.7s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-5 {
  animation: anim-move 1.4s ease-in-out infinite 0.8s;
}

div.item-5 div.lighter,
div.item-5 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.8s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-17 {
  animation: anim-move 1.4s ease-in-out infinite 0.9s;
}

div.item-17 div.lighter,
div.item-17 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 0.9s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-2 {
  animation: anim-move 1.4s ease-in-out infinite 1s;
}

div.item-2 div.lighter,
div.item-2 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-12 {
  animation: anim-move 1.4s ease-in-out infinite 1.1s;
}

div.item-12 div.lighter,
div.item-12 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.1s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-16 {
  animation: anim-move 1.4s ease-in-out infinite 1.2s;
}

div.item-16 div.lighter,
div.item-16 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.2s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-11 {
  animation: anim-move 1.4s ease-in-out infinite 1.3s;
}

div.item-11 div.lighter,
div.item-11 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.3s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-18 {
  animation: anim-move 1.4s ease-in-out infinite 1.4s;
}

div.item-18 div.lighter,
div.item-18 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.4s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-6 {
  animation: anim-move 1.4s ease-in-out infinite 1.5s;
}

div.item-6 div.lighter,
div.item-6 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.5s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-24 {
  animation: anim-move 1.4s ease-in-out infinite 1.6s;
}

div.item-24 div.lighter,
div.item-24 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.6s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-19 {
  animation: anim-move 1.4s ease-in-out infinite 1.7s;
}

div.item-19 div.lighter,
div.item-19 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.7s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

div.item-1 {
  animation: anim-move 1.4s ease-in-out infinite 1.8s;
}

div.item-1 div.lighter,
div.item-1 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.8s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-19 {
  animation: anim-move 1.4s ease-in-out infinite 1.9s;
}

.packer-loader div.item-19 div.lighter,
.packer-loader div.item-19 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 1.9s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-17 {
  animation: anim-move 1.4s ease-in-out infinite 2s;
}

.packer-loader div.item-17 div.lighter,
.packer-loader div.item-17 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-12 {
  animation: anim-move 1.4s ease-in-out infinite 2.1s;
}

.packer-loader div.item-12 div.lighter,
.packer-loader div.item-12 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.1s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-24 {
  animation: anim-move 1.4s ease-in-out infinite 2.2s;
}

.packer-loader div.item-24 div.lighter,
.packer-loader div.item-24 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.2s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-6 {
  animation: anim-move 1.4s ease-in-out infinite 2.3s;
}

.packer-loader div.item-6 div.lighter,
.packer-loader div.item-6 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.3s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-20 {
  animation: anim-move 1.4s ease-in-out infinite 2.4s;
}

.packer-loader div.item-20 div.lighter,
.packer-loader div.item-20 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.4s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-24 {
  animation: anim-move 1.4s ease-in-out infinite 2.5s;
}

.packer-loader div.item-24 div.lighter,
.packer-loader div.item-24 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.5s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-6 {
  animation: anim-move 1.4s ease-in-out infinite 2.6s;
}

.packer-loader div.item-6 div.lighter,
.packer-loader div.item-6 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.6s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-11 {
  animation: anim-move 1.4s ease-in-out infinite 2.7s;
}

.packer-loader div.item-11 div.lighter,
.packer-loader div.item-11 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.7s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-16 {
  animation: anim-move 1.4s ease-in-out infinite 2.8s;
}

.packer-loader div.item-16 div.lighter,
.packer-loader div.item-16 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.8s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-10 {
  animation: anim-move 1.4s ease-in-out infinite 2.9s;
}

.packer-loader div.item-10 div.lighter,
.packer-loader div.item-10 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 2.9s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-10 {
  animation: anim-move 1.4s ease-in-out infinite 3s;
}

.packer-loader div.item-10 div.lighter,
.packer-loader div.item-10 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-11 {
  animation: anim-move 1.4s ease-in-out infinite 3.1s;
}

.packer-loader div.item-11 div.lighter,
.packer-loader div.item-11 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.1s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-16 {
  animation: anim-move 1.4s ease-in-out infinite 3.2s;
}

.packer-loader div.item-16 div.lighter,
.packer-loader div.item-16 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.2s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-25 {
  animation: anim-move 1.4s ease-in-out infinite 3.3s;
}

.packer-loader div.item-25 div.lighter,
.packer-loader div.item-25 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.3s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-15 {
  animation: anim-move 1.4s ease-in-out infinite 3.4s;
}

.packer-loader div.item-15 div.lighter,
.packer-loader div.item-15 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.4s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-13 {
  animation: anim-move 1.4s ease-in-out infinite 3.5s;
}

.packer-loader div.item-13 div.lighter,
.packer-loader div.item-13 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.5s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-16 {
  animation: anim-move 1.4s ease-in-out infinite 3.6s;
}

.packer-loader div.item-16 div.lighter,
.packer-loader div.item-16 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.6s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-3 {
  animation: anim-move 1.4s ease-in-out infinite 3.7s;
}

.packer-loader div.item-3 div.lighter,
.packer-loader div.item-3 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.7s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-2 {
  animation: anim-move 1.4s ease-in-out infinite 3.8s;
}

.packer-loader div.item-2 div.lighter,
.packer-loader div.item-2 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.8s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-24 {
  animation: anim-move 1.4s ease-in-out infinite 3.9s;
}

.packer-loader div.item-24 div.lighter,
.packer-loader div.item-24 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 3.9s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-20 {
  animation: anim-move 1.4s ease-in-out infinite 4s;
}

.packer-loader div.item-20 div.lighter,
.packer-loader div.item-20 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-2 {
  animation: anim-move 1.4s ease-in-out infinite 4.1s;
}

.packer-loader div.item-2 div.lighter,
.packer-loader div.item-2 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.1s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-9 {
  animation: anim-move 1.4s ease-in-out infinite 4.2s;
}

.packer-loader div.item-9 div.lighter,
.packer-loader div.item-9 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.2s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-5 {
  animation: anim-move 1.4s ease-in-out infinite 4.3s;
}

.packer-loader div.item-5 div.lighter,
.packer-loader div.item-5 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.3s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-17 {
  animation: anim-move 1.4s ease-in-out infinite 4.4s;
}

.packer-loader div.item-17 div.lighter,
.packer-loader div.item-17 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.4s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-13 {
  animation: anim-move 1.4s ease-in-out infinite 4.5s;
}

.packer-loader div.item-13 div.lighter,
.packer-loader div.item-13 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.5s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-20 {
  animation: anim-move 1.4s ease-in-out infinite 4.6s;
}

.packer-loader div.item-20 div.lighter,
.packer-loader div.item-20 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.6s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-14 {
  animation: anim-move 1.4s ease-in-out infinite 4.7s;
}

.packer-loader div.item-14 div.lighter,
.packer-loader div.item-14 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.7s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-21 {
  animation: anim-move 1.4s ease-in-out infinite 4.8s;
}

.packer-loader div.item-21 div.lighter,
.packer-loader div.item-21 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.8s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-21 {
  animation: anim-move 1.4s ease-in-out infinite 4.9s;
}

.packer-loader div.item-21 div.lighter,
.packer-loader div.item-21 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 4.9s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}

.packer-loader div.item-9 {
  animation: anim-move 1.4s ease-in-out infinite 5s;
}

.packer-loader div.item-9 div.lighter,
.packer-loader div.item-9 div.darker {
  animation: anim-height 1.4s ease-in-out infinite 5s;
}

@keyframes anim-move {

  0%,
  100% {
    transform: translateZ(0);
  }

  40%,
  60% {
    transform: translateZ(80px);
  }
}

@keyframes anim-height {

  0%,
  100% {
    height: 12px;
  }

  40%,
  60% {
    height: 80px;
  }
}